In [1]:
import pandas as pd
df = pd.read_csv('Harley_Dataset.csv')

In [2]:
df.head()

,Order Number,Product Name,Quantity,Price,Payment Mode,Store Name,City,Country,Year,Month,Order Date
0,101071,Harley-Davidson Street 750,30,7000,NetBanking,RIDGES HARLEY-DAVIDSON,NYC,USA,2001,2,24-Feb-2001
1,101072,Harley-Davidson Street 750,34,7000,Cash,SEVEN ISLANDS HARLEY-DAVIDSON,Reims,France,2001,5,7-May-2001
2,101073,Harley-Davidson Street 750,41,7000,Credit card,BANJARA HARLEY-DAVIDSON,Paris,France,2001,7,1-Jul-2001
3,101074,Harley-Davidson Street 750,45,7000,NetBanking,TUSKER HARLEY-DAVIDSON LAVELLE ROAD,Pasadena,USA,2001,8,25-Aug-2001
4,101075,Harley-Davidson Street 750,49,7000,NetBanking,CAPITAL HARLEY-DAVIDSON,San Francisco,USA,2001,10,10-Oct-2001

In [3]:
df.drop(['Order Number', 'Store Name', 'Order Date'], axis=1, inplace=True)

In [4]:
df = pd.get_dummies(df, columns=['Product Name', 'Payment Mode', 'City', 'Country'], drop_first=False, dtype=int)

In [5]:
Order_Profit = df["Quantity"] * df["Price"]
df["Order_Profit"] = Order_Profit

In [6]:
df.head()

,Quantity,Price,Year,Month,Product Name_Harley-Davidson 1200 Custom,Product Name_Harley-Davidson CVO Limited,Product Name_Harley-Davidson Fat Bob,Product Name_Harley-Davidson Fat Boy,Product Name_Harley-Davidson Forty-Eight,Product Name_Harley-Davidson Heritage Softail Classic,...,Country_Japan,Country_Norway,Country_Philippines,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_UK,Country_USA,Order_Profit
0,30,7000,2001,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,210000
1,34,7000,2001,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,238000
2,41,7000,2001,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,287000
3,45,7000,2001,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,315000
4,49,7000,2001,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,343000

In [7]:
df.isna().any().sum()

0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Columns: 116 entries, Quantity to Order_Profit
dtypes: int32(111), int64(5)
memory usage: 1.3 MB

In [9]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
 
 
# Initialise the Scaler
scaler = StandardScaler()
 
# To scale data
scaler.fit(df)

StandardScaler()

In [10]:
>>> import pandas as pd
>>> from sklearn.model_selection import train_test_split
>>> from sklearn.datasets import load_iris

y = df.Order_Profit
x = df.drop('Order_Profit', axis = 1)

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

,Quantity,Price,Year,Month,Product Name_Harley-Davidson 1200 Custom,Product Name_Harley-Davidson CVO Limited,Product Name_Harley-Davidson Fat Bob,Product Name_Harley-Davidson Fat Boy,Product Name_Harley-Davidson Forty-Eight,Product Name_Harley-Davidson Heritage Softail Classic,...,Country_Italy,Country_Japan,Country_Norway,Country_Philippines,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_UK,Country_USA
1844,60,24000,2015,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
703,39,10023,2007,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
351,28,8000,2004,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2496,24,10000,2016,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1428,36,10000,2011,7,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

# Model Testing

## Linear Regression

In [21]:
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot

LRmodel = LinearRegression()

In [23]:
LRmodel.fit(x_train,y_train)

LinearRegression()

In [24]:
LRmodel.score(x_test,y_test)

0.962214736658369

In [74]:
print("The Linear Regression model predicts the profit column with", (round(LRmodel.score(x_test,y_test),4)*100),"% success")

The Linear Regression model predicts the profit column with 96.22 % success

## Random Forest Classifier

In [58]:
from sklearn.ensemble import RandomForestClassifier
RFC_model = RandomForestClassifier(random_state=42, class_weight='balanced', n_estimators=1000).fit(x_train,y_train)
RFC_model.score(x_test,y_test)

0.11504424778761062

In [76]:
print("The Random Forest Classifier model predicts the profit column with", (round(RFC_model.score(x_test,y_test),4)*100),"% success")

The Random Forest Classifier model predicts the profit column with 11.5 % success

In [ ]:
print((importance_features.iloc[0:5]*100).sort_values(ascending = True))
print((importance_features.iloc[4:18]*100).sort_values(ascending = True))
print((importance_features.iloc[18:24]*100).sort_values(ascending = True))

# Random Forest Importance Features
The Random Forest Importance Features tells what proportion of each category accounts for the overall importance out of 100%:

In [61]:
importances = RFC_model.feature_importances_
importance_features = pd.Series(RFC_model.feature_importances_, index=x.columns)
print((importance_features.iloc[0:4]*100).sort_values(ascending = False))

Quantity    21.875088
Month       11.298249
Year         6.121652
Price        2.775339
dtype: float64

## Random Forest Importance Features, Grouped by Motorcycle Series

In [65]:
print((importance_features.iloc[4:19]*100).sort_values(ascending = False))
#print((importance_features.iloc[19:23]*100).sort_values(ascending = False))

Product Name_Harley-Davidson Softail Deluxe              0.810474
Product Name_Harley-Davidson Street 750                  0.691271
Product Name_Harley-Davidson Roadster                    0.685460
Product Name_Harley-Davidson Heritage Softail Classic    0.654372
Product Name_Harley-Davidson Iron 883                    0.634422
Product Name_Harley-Davidson Forty-Eight                 0.587205
Product Name_Harley-Davidson Street Bob                  0.585947
Product Name_Harley-Davidson 1200 Custom                 0.583901
Product Name_Harley-Davidson Fat Bob                     0.567447
Product Name_Harley-Davidson Fat Boy                     0.527241
Product Name_Harley-Davidson CVO Limited                 0.513634
Product Name_Harley-Davidson Road King                   0.432253
Product Name_Harley-Davidson Street Rod                  0.406395
Product Name_Harley-Davidson Street Glide Special        0.268564
Product Name_Harley-Davidson Softail Low Rider           0.100140
dtype: float64

# Random Forest Importance Features, Grouped by Payment Method

In [63]:
print((importance_features.iloc[19:23]*100).sort_values(ascending = False))

Payment Mode_Credit card    2.406769
Payment Mode_Cash           2.322492
Payment Mode_NetBanking     2.257486
Payment Mode_Loan           0.832032
dtype: float64

# Random Forest Importance Features, Grouped by Cities

In [64]:
print((importance_features[23:83]*100).sort_values(ascending = False))
print((importance_features[83:96]*100).sort_values(ascending = False))

City_Madrid           1.228672
City_NYC              1.226615
City_New Bedford      0.829177
City_Las Vegas        0.814216
City_San Francisco    0.799124
City_Chatswood        0.772481
City_Boston           0.761310
City_Philadelphia     0.708558
City_Nashua           0.626818
City_Newark           0.616663
City_Brickhaven       0.612100
City_Melbourne        0.596675
City_Paris            0.570252
City_Allentown        0.492694
City_Glen Waverly     0.485056
City_Lyon             0.482901
City_Liverpool        0.464566
City_Bridgewater      0.462871
City_Reims            0.460129
City_Burlingame       0.454995
City_Reggio Emilia    0.453546
City_Salzburg         0.447061
City_North Sydney     0.443362
City_Nantes           0.440077
City_Pasadena         0.438604
City_Marseille        0.409525
City_Bergen           0.392445
City_Kobenhavn        0.387791
City_Cambridge        0.363074
City_London           0.343809
City_Oslo             0.335773
City_Boras            0.329687
City_Bergamo          0.326660
City_Barcelona        0.323566
City_Manchester       0.322203
City_Burbank          0.313276
City_Brisbane         0.310134
City_Espoo            0.297986
City_Koln             0.293120
City_Oulu             0.289213
City_Gensve           0.288266
City_Glendale         0.280238
City_Minato-ku        0.275864
City_Frankfurt        0.259262
City_Lule             0.241022
City_Helsinki         0.233364
City_Montreal         0.211437
City_Osaka            0.205800
City_San Diego        0.200163
City_Bruxelles        0.191705
City_Makati City      0.185740
City_New Haven        0.174143
City_Aaarhus          0.151247
City_Lille            0.140509
City_Dublin           0.133185
City_Cowes            0.127849
City_Graz             0.125004
City_Los Angeles      0.094751
City_Munich           0.092492
City_Charleroi        0.075019
dtype: float64
City_San Rafael        1.487227
City_San Jose          0.746702
City_Singapore         0.558810
City_White Plains      0.426471
City_Strasbourg        0.406329
City_Torino            0.330675
City_Stavern           0.266163
City_Sevilla           0.262337
City_Versailles        0.253263
City_Vancouver         0.223969
City_Tsawassen         0.177335
City_Toulouse          0.168263
City_South Brisbane    0.122932
dtype: float64

## Random Forest Importance Features, Grouped by Country

In [57]:
print((importance_features[96:]*100).sort_values(ascending = False))

Country_USA            2.102661
Country_France         1.275626
Country_Spain          1.231165
Country_Australia      1.098934
Country_UK             0.753646
Country_Italy          0.723372
Country_Norway         0.615522
Country_Finland        0.561296
Country_Singapore      0.537948
Country_Austria        0.451492
Country_Denmark        0.428985
Country_Germany        0.420525
Country_Canada         0.419578
Country_Sweden         0.418492
Country_Japan          0.376776
Country_Switzerland    0.280154
Country_Belgium        0.208780
Country_Philippines    0.170505
Country_Ireland        0.142390
dtype: float64

# Ordinary Least Squares Regression/ OLS & Linear Regression Features

In [59]:
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats


X2 = sm.add_constant(x)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Order_Profit   R-squared:                       0.950
Model:                            OLS   Adj. R-squared:                  0.949
Method:                 Least Squares   F-statistic:                     566.2
Date:                Sat, 21 May 2022   Prob (F-statistic):               0.00
Time:                        15:29:47   Log-Likelihood:                -35394.
No. Observations:                2823   AIC:                         7.097e+04
Df Residuals:                    2730   BIC:                         7.153e+04
Df Model:                          92
Covariance Type:            nonrobust
=========================================================================================================================
                                                            coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------------------
const                                                 -4.117e+05   5.72e+05     -0.720      0.472   -1.53e+06     7.1e+05
Quantity                                               1.308e+04    135.578     96.473      0.000    1.28e+04    1.33e+04
Price                                                    33.9451      4.833      7.024      0.000      24.468      43.422
Year                                                     68.1655    429.766      0.159      0.874    -774.533     910.864
Month                                                     0.3423    390.196      0.001      0.999    -764.768     765.453
Product Name_Harley-Davidson 1200 Custom              -3.741e+04   3.41e+04     -1.098      0.272   -1.04e+05    2.94e+04
Product Name_Harley-Davidson CVO Limited              -3.418e+04   4.24e+04     -0.807      0.420   -1.17e+05    4.89e+04
Product Name_Harley-Davidson Fat Bob                   1.124e+05   1.38e+05      0.816      0.415   -1.58e+05    3.82e+05
Product Name_Harley-Davidson Fat Boy                  -4.571e+04   7.53e+04     -0.607      0.544   -1.93e+05    1.02e+05
Product Name_Harley-Davidson Forty-Eight              -3.886e+04   6.55e+04     -0.594      0.553   -1.67e+05    8.95e+04
Product Name_Harley-Davidson Heritage Softail Classic -4.491e+04   6.32e+04     -0.710      0.477   -1.69e+05     7.9e+04
Product Name_Harley-Davidson Iron 883                  -3.48e+04   4.12e+04     -0.844      0.399   -1.16e+05    4.61e+04
Product Name_Harley-Davidson Road King                -3.405e+04   4.86e+04     -0.701      0.483   -1.29e+05    6.12e+04
Product Name_Harley-Davidson Roadster                 -4.149e+04   5.79e+04     -0.716      0.474   -1.55e+05    7.21e+04
Product Name_Harley-Davidson Softail Deluxe           -3.899e+04   5.74e+04     -0.679      0.497   -1.52e+05    7.36e+04
Product Name_Harley-Davidson Softail Low Rider        -3.909e+04   5.76e+04     -0.679      0.497   -1.52e+05    7.38e+04
Product Name_Harley-Davidson Street 750               -4.243e+04   7.32e+04     -0.580      0.562   -1.86e+05    1.01e+05
Product Name_Harley-Davidson Street Bob               -1.978e+04   8831.627     -2.239      0.025   -3.71e+04   -2460.851
Product Name_Harley-Davidson Street Glide Special     -3.724e+04   5.91e+04     -0.631      0.528   -1.53e+05    7.86e+04
Product Name_Harley-Davidson Street Rod               -3.511e+04   4.78e+04     -0.735      0.462   -1.29e+05    5.85e+04
Payment Mode_Cash                                     -1.006e+05   1.44e+05     -0.701      0.484   -3.82e+05    1.81e+05
Payment Mode_Credit card                              -1.075e+05   1.43e+05     -0.753      0.451   -3.87e+05    1.72e+05
Payment Mode_Loan                                     -1.002e+05   1.44e+05     -0.697      0.486   -3.82e+05    1.81e+05
Payment Mode_NetBanking                               -1.034e+05   1.42e+05     -0.727      0.467   -3.82e+05    1.76e+05
City_Aaarhus                                          -2.955e+04   1.74e+04     -1.697      0.090   -6.37e+04    4592.091
City_Allentown                                        -2.195e+04   1.22e+04     -1.799      0.072   -4.59e+04    1973.537
City_Barcelona                                         1407.1411   1.59e+04      0.088      0.930   -2.98e+04    3.26e+04
City_Bergamo                                          -3476.8412    1.4e+04     -0.249      0.803   -3.09e+04    2.39e+04
City_Bergen                                           -5870.6267   1.49e+04     -0.393      0.694   -3.52e+04    2.34e+04
City_Boras                                            -1.452e+04    1.7e+04     -0.856      0.392   -4.78e+04    1.87e+04
City_Boston                                            1.304e+04   1.04e+04      1.251      0.211   -7403.202    3.35e+04
City_Brickhaven                                       -5222.7130   1.01e+04     -0.517      0.605    -2.5e+04    1.46e+04
City_Bridgewater                                      -1.568e+04   1.35e+04     -1.160      0.246   -4.22e+04    1.08e+04
City_Brisbane                                          3.588e+04   1.74e+04      2.063      0.039    1771.741       7e+04
City_Bruxelles                                        -6416.1332   1.89e+04     -0.339      0.735   -4.36e+04    3.07e+04
City_Burbank                                          -4.286e+04   1.86e+04     -2.306      0.021   -7.93e+04   -6409.353
City_Burlingame                                         1.47e+04   1.17e+04      1.256      0.209   -8246.695    3.77e+04
City_Cambridge                                        -4326.5964   1.11e+04     -0.390      0.697   -2.61e+04    1.74e+04
City_Charleroi                                        -1.081e+04    2.2e+04     -0.491      0.623   -5.39e+04    3.23e+04
City_Chatswood                                         4095.5763    1.2e+04      0.340      0.734   -1.95e+04    2.77e+04
City_Cowes                                            -7226.6056   1.44e+04     -0.503      0.615   -3.54e+04    2.09e+04
City_Dublin                                            -1.03e+04   2.32e+04     -0.444      0.657   -5.58e+04    3.52e+04
City_Espoo                                            -2.022e+04    1.5e+04     -1.345      0.179   -4.97e+04    9248.594
City_Frankfurt                                        -2124.4926   1.64e+04     -0.130      0.897   -3.42e+04       3e+04
City_Gensve                                           -1.286e+04   2.23e+04     -0.577      0.564   -5.66e+04    3.09e+04
City_Glen Waverly                                     -4.334e+04   1.46e+04     -2.965      0.003    -7.2e+04   -1.47e+04
City_Glendale                                         -1.549e+04   1.44e+04     -1.074      0.283   -4.38e+04    1.28e+04
City_Graz                                              -1.19e+04   1.88e+04     -0.632      0.527   -4.88e+04     2.5e+04
City_Helsinki                                         -6053.2843   1.48e+04     -0.408      0.683   -3.52e+04     2.3e+04
City_Kobenhavn                                         1.413e+04   1.66e+04      0.851      0.395   -1.84e+04    4.67e+04
City_Koln                                               148.4691   1.59e+04      0.009      0.993    -3.1e+04    3.13e+04
City_Las Vegas                                        -1.452e+04   1.27e+04     -1.143      0.253   -3.94e+04    1.04e+04
City_Lille                                            -3782.7851   1.49e+04     -0.254      0.800    -3.3e+04    2.55e+04
City_Liverpool                                        -1.051e+04   1.38e+04     -0.760      0.447   -3.76e+04    1.66e+04
City_London                                           -6825.3290   1.31e+04     -0.523      0.601   -3.24e+04    1.88e+04
City_Los Angeles                                      -3215.9255   1.79e+04     -0.180      0.857   -3.83e+04    3.18e+04
City_Lule                                             -7580.8642   1.79e+04     -0.422      0.673   -4.28e+04    2.76e+04
City_Lyon                                             -1.231e+04   1.12e+04     -1.101      0.271   -3.42e+04    9606.183
City_Madrid                                               5.9404   1.25e+04      0.000      1.000   -2.45e+04    2.45e+04
City_Makati City                                      -1.394e+04   2.24e+04     -0.621      0.535    -5.8e+04    3.01e+04
City_Manchester                                       -2269.7612   1.24e+04     -0.183      0.855   -2.66e+04     2.2e+04
City_Marseille                                         1.028e+04   1.37e+04      0.751      0.453   -1.65e+04    3.71e+04
City_Melbourne                                         3416.4696   1.15e+04      0.298      0.766   -1.91e+04    2.59e+04
City_Minato-ku                                        -2681.2259   1.72e+04     -0.156      0.876   -3.63e+04     3.1e+04
City_Montreal                                         -3079.4130   1.61e+04     -0.192      0.848   -3.46e+04    2.84e+04
City_Munich                                           -2.171e+04   1.82e+04     -1.192      0.233   -5.74e+04     1.4e+04
City_NYC                                               6487.6841   6182.476      1.049      0.294   -5635.121    1.86e+04
City_Nantes                                           -6189.5573   9869.952     -0.627      0.531   -2.55e+04    1.32e+04
City_Nashua                                            8974.7171   1.17e+04      0.765      0.444    -1.4e+04     3.2e+04
City_New Bedford                                      -3212.0125   9030.268     -0.356      0.722   -2.09e+04    1.45e+04
City_New Haven                                         -736.3919   1.63e+04     -0.045      0.964   -3.26e+04    3.12e+04
City_Newark                                           -2.722e+04   1.48e+04     -1.843      0.065   -5.62e+04    1735.588
City_North Sydney                                      1080.2202   1.19e+04      0.091      0.928   -2.23e+04    2.45e+04
City_Osaka                                            -1.454e+04   1.81e+04     -0.803      0.422      -5e+04    2.09e+04
City_Oslo                                             -3955.3676   1.59e+04     -0.249      0.804   -3.51e+04    2.72e+04
City_Oulu                                             -6220.5450   1.47e+04     -0.423      0.672    -3.5e+04    2.26e+04
City_Paris                                             1.339e+04   9336.045      1.435      0.151   -4912.356    3.17e+04
City_Pasadena                                         -2118.1079   1.24e+04     -0.171      0.864   -2.65e+04    2.22e+04
City_Philadelphia                                     -2442.9001   1.04e+04     -0.234      0.815   -2.29e+04     1.8e+04
City_Reggio Emilia                                    -2.226e+04   1.43e+04     -1.556      0.120   -5.03e+04    5785.075
City_Reims                                            -1643.4656   1.13e+04     -0.145      0.885   -2.39e+04    2.06e+04
City_Salzburg                                         -9689.4271   1.71e+04     -0.567      0.570   -4.32e+04    2.38e+04
City_San Diego                                         1.673e+04   1.35e+04      1.236      0.217   -9820.270    4.33e+04
City_San Francisco                                     1.114e+04   8865.233      1.256      0.209   -6247.214    2.85e+04
City_San Jose                                          1.392e+04   1.09e+04      1.272      0.203   -7537.676    3.54e+04
City_San Rafael                                        1354.0220   5882.553      0.230      0.818   -1.02e+04    1.29e+04
City_Sevilla                                          -2.903e+04   1.76e+04     -1.649      0.099   -6.36e+04    5483.015
City_Singapore                                        -1.263e+04   2.18e+04     -0.580      0.562   -5.53e+04       3e+04
City_South Brisbane                                    6711.7206   1.67e+04      0.402      0.688    -2.6e+04    3.94e+04
City_Stavern                                          -1.681e+04   1.48e+04     -1.133      0.257   -4.59e+04    1.23e+04
City_Strasbourg                                       -1.058e+04   1.54e+04     -0.688      0.491   -4.07e+04    1.96e+04
City_Torino                                            6190.9713    1.5e+04      0.414      0.679   -2.31e+04    3.55e+04
City_Toulouse                                         -7337.6613   1.48e+04     -0.494      0.621   -3.64e+04    2.18e+04
City_Tsawassen                                        -1.385e+04   1.58e+04     -0.877      0.381   -4.48e+04    1.71e+04
City_Vancouver                                        -3602.5797   1.61e+04     -0.224      0.823   -3.52e+04     2.8e+04
City_Versailles                                       -1.264e+04   1.56e+04     -0.808      0.419   -4.33e+04     1.8e+04
City_White Plains                                      4523.8992   1.33e+04      0.340      0.734   -2.16e+04    3.06e+04
Country_Australia                                     -2.803e+04    3.6e+04     -0.779      0.436   -9.86e+04    4.25e+04
Country_Austria                                       -2.159e+04   2.93e+04     -0.737      0.461    -7.9e+04    3.58e+04
Country_Belgium                                       -1.722e+04      3e+04     -0.574      0.566   -7.61e+04    4.16e+04
Country_Canada                                        -2.053e+04   3.28e+04     -0.626      0.531   -8.48e+04    4.38e+04
Country_Denmark                                       -1.542e+04   2.92e+04     -0.529      0.597   -7.26e+04    4.17e+04
Country_Finland                                       -3.249e+04   3.26e+04     -0.997      0.319   -9.64e+04    3.14e+04
Country_France                                        -3.081e+04   3.88e+04     -0.794      0.427   -1.07e+05    4.53e+04
Country_Germany                                       -2.368e+04   3.29e+04     -0.720      0.472   -8.82e+04    4.08e+04
Country_Ireland                                        -1.03e+04   2.32e+04     -0.444      0.657   -5.58e+04    3.52e+04
Country_Italy                                         -1.955e+04   3.27e+04     -0.598      0.550   -8.36e+04    4.45e+04
Country_Japan                                         -1.722e+04   2.93e+04     -0.587      0.557   -7.47e+04    4.03e+04
Country_Norway                                        -2.663e+04   3.27e+04     -0.815      0.415   -9.07e+04    3.75e+04
Country_Philippines                                   -1.394e+04   2.24e+04     -0.621      0.535    -5.8e+04    3.01e+04
Country_Singapore                                     -1.263e+04   2.18e+04     -0.580      0.562   -5.53e+04       3e+04
Country_Spain                                         -2.762e+04   3.29e+04     -0.840      0.401   -9.21e+04    3.68e+04
Country_Sweden                                         -2.21e+04   2.91e+04     -0.760      0.447   -7.91e+04    3.49e+04
Country_Switzerland                                   -1.286e+04   2.23e+04     -0.577      0.564   -5.66e+04    3.09e+04
Country_UK                                            -2.683e+04   3.46e+04     -0.775      0.439   -9.47e+04    4.11e+04
Country_USA                                           -3.225e+04   4.13e+04     -0.782      0.434   -1.13e+05    4.87e+04
==============================================================================
Omnibus:                      760.197   Durbin-Watson:                   1.833
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            38328.659
Skew:                           0.450   Prob(JB):                         0.00
Kurtosis:                      21.029   Cond. No.                     5.24e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.31e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# Comparative & Qualitative Analyses

### Linear Regression
Pros: Highly efficient, predicts dependent variable at an outstanding rate, fast runtime

Cons: None
    
### Random Forest
Pros: Does not successfully predict the values of the dependent variable, very slow runtime

Cons: Importance features are easily interpretable
    
### Ordinary Least Squares
Pros: Difficult to understand in terms of interpretability

Cons: Importance features provide an abundance of information to analyze the dataset

### Best approach: 
Importance features from the Random Forest in conjunction with the Ordinary Least Squares model. As the Random Forest's importance features are easy to understand, and the Ordinary Least Squares utilizes Linear Regression in its implementation and provides a thorough analysis, this would be the optimal approach.

### Client Recommendation:
Focus on the shipment quantities, seasonality and payment methods. These 3 categories alone account for nearly 40% of the anticipated profits per order.